<button>
  <slot />
</button>

<style>
  button {
    background-color: #fff;
    color: #777;
    box-shadow: 0 0 2px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    transition: color .2s ease;
    &:hover {
      cursor: pointer;
      color: #333;
    }
  }
</style>