---
const { title } = Astro.props;
---

<section id="container">
  <header>
    <h1>{title}</h1>
  </header>

  <section id="profiles">
    <slot/>
  </section>
</section>

<style>

  #profiles {
    display: flex;
    gap: 20px;
  }

  #container {
    margin: 30px;
    overflow-x: hidden;
  }

  header {
    margin-bottom: 15px;
  }
</style>